<section
  class="w-[1440px] mx-auto flex flex-col items-center border-purple-400 border-2 p-5 rounded-3xl shadow-purple-400 shadow-md mb-5"
>
  <header>
    Organiser :
    <strong>{{ dateService.date | async | moment : "DD.MM.YYYY" }}</strong>
  </header>
  <main class="w-full mx-auto flex flex-col items-center">
    <ul
      class="flex flex-col items-center justify-around w-[60%] gap-2 p-2"
      *ngIf="tasks.length; else noTasks"
    >
      <li
        class="flex justify-between items-center w-[60%] border-purple-300 rounded-md border-2 p-3"
        *ngFor="let task of tasks; let i = index"
      >
        <span>
          <strong>{{ i + 1 }}</strong>
          {{ task.title }}
        </span>
        <button
          class="bg-red-400 rounded-md p-2 text-white hover:opacity-90 hover:rounded-xl ease-in-out duration-300"
          (click)="remove(task)"
        >
          remove
        </button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p>No tasks for this day!</p>
    </ng-template>
  </main>

  <footer class="w-full">
    <form
      [formGroup]="form"
      class="w-[60%] flex flex-col items-center mx-auto p-5 gap-5"
      (ngSubmit)="submit()"
    >
      <input
        type="text"
        class="border-purple-500 border-2 p-2 rounded-2xl w-[62%]"
        formControlName="title"
      />
      <button
        [disabled]="form.invalid"
        [ngClass]="{
          btnDisabled: form.invalid
        }"
        type="submit"
        class="w-40 p-5 rounded-2xl bg-purple-600 hover:cursor-pointer hover:opacity-90 ease-in-out duration-300 text-white hover:rounded-3xl"
      >
        Add
      </button>
    </form>
  </footer>
</section>
